/* * ---------------- INFRASTRUCTURE ----------------  */

.infrastructure{
    height: 625px;
    text-align: center;
    background: top url(../../../svg/bg_phones.svg) no-repeat ,linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
    background-position: calc(100% - 50%) calc(100% - 258px),
                         center;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.infrastructure_container{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.phones_svg{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infrastructure_content{
    margin-top: 230px;
    margin-bottom: 100px;
}

.infrastructure_content h1{
    font-size: 2.5rem;
    color: var(--text-color-white);
}