/* * ---------------- PRESENTATION 2 ----------------  */

.presentation2{
    padding: 60px 0 100px 0;
    text-align: center;
}

.presentation2_container{
    padding: 0 1.5rem;
}

.illustration3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.laptop{
    width: 328px;
    height: 326px;
}

.text_2 p{
    margin-bottom: 0;
}

@media screen and (min-width: 800px){
    .presentation2{
        margin: 50px 0 60px 0;
        position: relative;
    }
    .block{
        display: flex;
    
    }
    .laptop{
        position: absolute;
        width: 500px;
        height: 444px; /* 0.888 ratio*/
        top: 50%;
        left: -141px;
        transform: translateY(-50%);
    }
    .text{
        margin: 0 0 0 50%;
        text-align: left;
    }
}

@media screen and (min-width: 1000px){
    .presentation2{
        margin: 100px 0 100px 0;
    }
    .laptop{
        width: 675px;
        height: 599px;
        left: -190px;
    }
}

@media screen and (min-width: 1200px){
    .presentation2{
        margin: 120px 0 120px 0;
    }
    .laptop{
        width: 750px;
        height: 666px;
        left: -210px;
    }
}

@media screen and (min-width: 1440px){
    .presentation2{
        margin: 170px 0 170px 0;
    }
    .block{
        max-width: 1550px;
        margin: 0 auto;
    }
    .laptop{
        width: 885px;
        height: 786px;
        left: -250px;
    }
    .text{
        margin: 0 165px 0 50%;
        text-align: left;
    }
}

@media screen and (min-width: 1600px){
    .presentation2{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .laptop{
        position: static;
        transform: translateY(-20%);
    }
    .text{
        margin: 0 auto;
    }
}
